<h2 class="section-heading mb-4">
<!--    <span class="section-heading-upper">Albums</span>-->
    <span class="section-heading-lower">Albums</span>
</h2>
{% for album in albums %}
    <div class="text-center">
        <a href="/">
            <img class="img-responsive" src="{{ album.picture }}" alt="{{ album.title }}">
        </a>
        <h3><a href="/">{{ album.title }}</a></h3>
        {% for artist in album.artists.all %}
            <p>{{ artist.name }}</p>
        {% endfor %}
    </div>
<!--{% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}-->
{% endfor %}
